.about{
    width: 100%;
    height: auto;
    position: relative;
    background: #f3f3f3;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

.about-h1{
    font-size: 3em;
    font-weight: 300;
    position: relative;
    margin: 0 auto;
    padding: 1em 0 0 0;
    text-align: center;
}
.about-h2{
    font-size: 2em;
    position: relative;
    margin: 1em auto;
    padding: 0 5%;
    text-align: center;
    font-weight: 200;
    max-width: 1200px;
}
.about-section1,
.about-section2{
    position: relative;
    width: 90vw;
    max-width: 1200px;
    height: auto;
    background: #e9e9e9;
    padding: 0;
    margin: 4em auto;
}
.about-flexbox{
    position: relative;
    width: 100%;
    height: 100%;
    //background: red;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    //flex-direction: row;
}

.about-box{
    //display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    margin: 1em;
    padding: 0;
    //background: #693c3c;
    h1{
        margin: 0 0 1em 0;
        text-align: center;
        font-weight: 400;
        font-size: 2em;
    }
    p{
        margin: 1em;
        font-size: 1.3em;
        line-height: 1.5em;
    }
}
.yoga-mats{
    background-image: url(../images/penny-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #4F5EC1;
}
.profile-image{
    background-image: url(../images/yoga-mats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #9241A8;
}
