.about{
    width: 100%;
    height: auto;
    position: relative;
    background: #f3f3f3;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    color: #707070;
}

.about-h1{
    font-size: 2em;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
    padding: 1em 0 0 0;
    text-align: center;
    //color: #4b4b4b;
    color: rgba(146, 65, 168, 1);
}
.yoga-flower{
    position: relative;
    display: block;
    height: 188px;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/yoga-flower.png);
    background-size: 300px 188px;
    background-repeat: no-repeat;
    background-position: center;
}
.about-h2{
    font-size: 1.5em;
    width: 85%;
    position: relative;
    margin: 2em auto;
    padding: 0.5em 0 1em 0;
    text-align: center;
    font-weight: 300;
    max-width: 1000px;
    //background: rgba(146, 65, 168, 0.1);
    border-top: 5px solid #4F5EC1;
    border-bottom: 5px solid #4F5EC1;
    color: #5a5a5a;
}
.about-h3{
    font-size: 1.75em;
    position: relative;
    margin: 1em auto;
    text-align: center;
    font-weight: 500;
    color: #5a5a5a;
}
.bio{
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.5em;
    margin: 0 auto;
    width: 80%;
    padding: 0;
    max-width: 1200px;
    text-align: center;
    //background: #e9e9e9;
    color: #4b4b4b;
}
.about-section1,
.about-section2{
    position: relative;
    width: 90vw;
    max-width: 1200px;
    height: auto;
    //background: #e9e9e9;
    //background: rgba(79, 94, 193, 0.1);
    padding: 0;
    margin: 4em auto;
}
.about-flexbox{
    position: relative;
    width: 100%;
    height: 100%;
    //background: red;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.about-box{
    //display: flex;
    align-items: center;
    width: 45%;
    height: auto;
    margin: 1em;
    padding: 0;
    //background: #693c3c;
    h1{
        margin: 0 0 0.5em 0;
        text-align: center;
        font-weight: 400;
        font-size: 1.6em;
        //color: #5a5a5a;
        color: rgba(146, 65, 168, 1);
    }
    p{
        margin: 0 auto;
        padding: 1em;
        font-size: 1em;
        line-height: 1.5em;
        color: #4b4b4b;
        //text-align: center;
    }
}
.yoga-mats{
    background-image: url(../images/penny-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //border: 2px solid #4F5EC1;
    //max-height: 400px;
}
.profile-image{
    background-image: url(../images/yoga-mats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //border: 2px solid #9241A8;
}


// MEDIA QUERIES  
@media (max-width: 1100px){
    .about-box{
        width: 50%;
        h1{
            font-size: 1.6em;
        }
        p{
            font-size: 1em;
        }
    }
}
@media (max-width: 920px){
    .about-section1,
    .about-section2{
        margin: 2em auto;
    }
    .about-flexbox{
        flex-direction: column;

    }
    .about-box{
        width: auto;
        h1{
            margin: 0 auto;
        }
        p{
            text-align: center;
        }
    }
    .profile-image,
    .yoga-mats{
        height: 300px;
        width: 80%;
        margin: 1em auto;
    }
}

@media (max-width: 768px){
    
    .about-h2{
        font-size: 1.2em;
    }
    .yoga-flower{
        background-size: 225px 141px;
        width: 225px;
        height: 141px;
    }
    .bio{
        font-size: 1em;
    }
}

