html, body{
    font-size: 16px;
    z-index: 0;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: #080808;
    background: #f3f3f3;
    width: 100%;
    height: auto;
}
.purple-font{
    color: #9241A8;
}
.blue-font{
    color: #4F5EC1;
}
.font-size{
    font-size: 0.7em;
    font-weight: 200;
}
.quote-marks{
    font-size: 2em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.facebook-icon,
.facebook-icon::before,
.facebook-icon::after{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(../images/facebook2.png);
    margin: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 40px 40px;
    transition: all ease-out 300ms;
}
.facebook-icon:hover,
.facebook-icon:focus,
.facebook-icon:active{
    background-image: url(../images/facebook1.png);
    transition: all ease-out 500ms;
}
.twitter-icon,
.twitter-icon::before,
.twitter-icon::after{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(../images/twitter2.png);
    margin: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 40px 40px;
    transition: all ease-out 300ms;
}
.twitter-icon:hover,
.twitter-icon:focus,
.twitter-icon:active{
    background-image: url(../images/twitter1.png);
    transition: all ease-out 500ms;
}