.blog{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: #f3f3f3;
    color: #4b4b4b;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    h1{
        text-align: center;
        padding: 0;
        margin: 2em auto;
        font-size: 2em;
        font-weight: 500;
        color: #4b4b4b;
    }
}
.blog-post-outer{
    height: 500px;
    width: 90%;
    max-width: 1200px;
    background: #4f5ec1;
    border: 5px solid rgba(146, 65, 168, 1);
    padding: 0;
    margin: 0 auto;
}
.blog-date{
    font-size: 1em;
    padding: 0;
    margin: 4em auto auto 3em;
    position: absolute;
    color: #a8a8a8;
}
.blog-title{
    font-size: 4em;
    text-decoration: underline;
    position: absolute;
    padding: 0;
    margin: 1.5em auto auto 0.7em;
    width: 30%;
    color: #f3f3f3;
}
.blog-beginning{
    font-size: 2em;
    position: absolute;
    padding: 0;
    margin: 9em auto auto 1.5em;
    color: #f3f3f3;
    width: 35%;
    font-weight: 100;
    line-height: 1.5em;
}
.blog-image{
    width: 500px;
    height: 333px;
    padding: 0;
    margin: 0;
    right: 2%;
    top: 25em;
    position: absolute;
    background-image: url(../images/blog-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 333px;
    z-index: 2;
    border: 5px solid rgba(146, 65, 168, 1);
}
.blog-post{
    width: 80%;
    max-width: 1000px;
    text-align: center;
    height: auto;
    padding: 0;
    margin: 10em auto 2em auto;
    position: relative;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 200;
}
.blog-sig{
    margin: 1em auto 1em auto;
}
.signature{
    font-size: 2em;
    font-family: 'La Belle Aurore','cursive','sans-serif';
}
.blog-link{
    text-align: center;
    position: relative;
    padding: 0;
    margin: 4em auto;
    font-weight: 500;
}

@media (max-width: 1110px){
    .blog-post-outer{
        height: auto;
    }
    .blog-date{
        position: relative;
        margin: 2em  0 0 2em;
    }
    .blog-title{
        position: relative;
        margin: 0.5em 0 0 0.5em;
    }
    .blog-beginning{
        position: relative;
        width: auto;
        margin: 0 auto;
        padding: 1em;
    }

    .blog-image{
        right: auto;
        top: auto;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 400px;
        background-size: cover;
        z-index: 1;
        border: none;
    }
    .blog-post{
        margin: 3em auto;
    }
}

@media (max-width: 620px){
    .blog-title{
        font-size: 2.5em;
    }
    .blog-beginning{
        font-size: 1.2em;
    }
    .blog-post{
        font-size: 1em;
    }
    .blog-link{
        font-size: 0.8em;
    }
}
@media (max-width: 580px){
    .blog-post-outer{
        width: 100%;
        border: none;
        padding: 0.1em 0 0 0;
    }
    .blog-post{
        text-align: initial;
        width: 90%;
    }
}