.classes{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    //background: #a8a8a8;
    font-family: 'Poppins', sans-serif;
}
.classes-h1{
    font-size: 3em;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
    padding: 1em 0 0 0;
    text-align: center;
    color: #9241A8;
}
.classes-flexbox{
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: auto;
    padding: 0;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
    align-items: unset;
    flex-wrap: wrap;
    flex-direction: row;
    background: #e9e9e9;
}
.classes-box{
    position: relative;
    align-items: center;
    width: 30%;
    height: auto;
    margin: 1em auto;
    padding: 0;
    border-radius: 3px;
    h1{
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        color: #666666;
    }
    p{
        font-size: 1.1em;
        line-height: 1.5em;
        padding: 0;
        margin: 1em;
        font-weight: 200;
        color: #5a5a5a;
    }
}
.purple{
    background: rgba(146, 65, 168, 0.1);
    //background: #f3f3f3;
    border: 2px solid #4F5EC1;
}
.blue{
    background: rgba(79, 94, 193, 0.1);
    //background: #f3f3f3;
    border: 2px solid #9241A8;
}