.classes{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    //background: #a8a8a8;
    font-family: 'Poppins', sans-serif;
}
.classes-h1{
    font-size: 3em;
    font-weight: 300;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.classes-flexbox{
    position: relative;
    width: 90%;
    max-width: 1500px;
    height: auto;
    //background: rgb(187, 187, 187);
    padding: 0;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #e9e9e9;
}
.classes-box{
    align-items: center;
    width: 30%;
    height: auto;
    margin: 1em auto;
    padding: 0;
    border-radius: 3px;
    h1{
        font-size: 2em;
        font-weight:400;
        text-align: center;
    }
    p{
        font-size: 1.2em;
        line-height: 1.5em;
        padding: 0;
        margin: 1em;
    }
}
.purple{
    background: rgba(146, 65, 168, 0.6);
    border: 1px solid #4F5EC1;
}
.blue{
    background: rgba(79, 94, 193, 0.6);
    border: 1px solid #9241A8;
}