.footer{
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    height: 16em;
    border-top: 1px solid #080808;
    position: relative;
    font-family: 'Poppins',sans-serif;
    h1{
        font-size: 2.5em;
        font-weight: 300;
        padding: 0;
        margin: 0.5em auto 0 auto;
        text-align: center;
        display: block;
    }
}
.social-media-footer{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 7em;
    height: auto;
    margin: 0 auto;
    padding: 0;
    top: 1em;
}
.footer p1{
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0;
    margin: 0.3em auto;
    text-align: center;
    color: #4b4b4b;
}
.footer p2{
    display: block;
    font-size: 0.8em;
    font-weight: 100;
    padding: 0 0 0 0;
    margin: 0;
    text-align: center;
}
.up-arrow{
    position: relative;
    top: 1em;
    width: 64px;
    height: 64px;
    background-image: url(../images/up-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;
    padding: 0;
    margin: 0 auto;
}