.image-section2{
    width: 100%;
    height: 550px;
    padding: 0;
    margin: 0;
    background-image: url(../images/yoga-bg-min2.png);
    background-position: top 5em center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    text-align: center;
    position: relative;
    box-shadow: inset 0 0 30px #000000;
}
.text-box2{
    width: auto;
    height: 100%;
    padding: 0 10%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        font-size: 2.5em;
        font-weight: 400;
        color: #f3f3f3;
    }
}

.bold-font{
    font-size: 3rem;
    font-weight: 700;
}

@media (max-width: 620px){
    .text-box2{
        padding: 0 5%;
        p{
            font-size: 2em;
        }
    }
    .bold-font{
        font-size: 1.4em;
    }
}