.header-container{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f3f3f3;
    height: 5em;
    z-index: 100;
    position: fixed;
    border-bottom: 2px solid #080808;
    font-family: 'Poppins', sans-serif;
    h1{
        font-size: 1.8em;
        font-weight: 300;
        display: block;
        position: absolute;
        padding: 0;
        margin: 0.8em 0 0 0.5em;
    }
}
.header-container::after{
    content: '';
    clear: both;
    display: block;
}
.social-media-header{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5.5em;
    height: auto;
    margin: 0 auto;
    padding: 0;
    right: 6em;
    top: 1.2em;
}

.site-nav{
    margin: 0;
    padding: 0;
    position: absolute;
    line-height: 1.5em;
    right: 0%;
    top: 5em;
    height: 0px;
    overflow: hidden;
    border-bottom: 2px solid #080808;
    border-left: 2px solid #080808;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        background: rgba(243, 243, 243, 1);
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 14em;
        li{
            border-top: 1px solid rgba(0, 0, 0, 0.25);
            padding: 0;
            margin: 0;
            height: 100%;
            //background: rebeccapurple;
            transition: 1s;
            //border-radius: 3px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                cursor: pointer;
                display: block;
                position: relative;
                //text-transform: uppercase;
                text-decoration: none;
                font-family:'Poppins', sans-serif;
                font-weight: 300; 
                font-size: 1.2em;
                color: #080808;
                padding: 0;
                margin: 0 auto;
                display: flex;
                //background: palegoldenrod; 
                align-items: center;
                justify-content: space-around;
                height: 100%;
                width: 100%;
                
            }
        }
        .activelink{
            //background: rgba(0, 112, 0, 0.8);
            a{
                //color: #080808;
                font-weight: 800;
            }
        }
    }
}
.site nav a,
.site-nav a:visited,
.site-nav a:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color: #080808;
}
.site-nav a:hover{
    color: #9241A8;
}
.site-nav a.before:before,
.site-nav a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
.site-nav a.before:before{
    top: 0.7em;
}
.site-nav a.after:after{
    bottom: 0.7em;
}
.site-nav a.before:before,
.site-nav a.after:after{
    height: 3px;
    width: 0;
    background: #4F5EC1;
}
.site-nav a:before{
    left: 0;
}
.site-nav a:after{
    right: 0;
}
.site-nav a.before:hover:before,
.site-nav a.after:hover:after{
    width: 100%;
}
.site-nav--open{
    height: auto;
    z-index: 1;
}


@media (min-width: 1000px){
    .header-container{
        height: 5em;
        padding: 0;
        margin: 0;
    }
    .social-media-header{
        right: 1em;
    }
    .site-nav{
        padding: 0;
        margin: 0 0 0 4em;
        position: relative;
        top: 0;
        background: none;
        height: 5em;
        width: 100%;
        border-left: none;
        //background: red;
        ul{
            height: 100%;
            flex-direction: row;
            margin: 0 auto;
            //align-items: center;
            background: none;
            padding: 0;
            justify-content: center;
            li{
                padding: 0;
                margin:  0;
                width: auto;
                transition: 0;
                height: auto;
                border-top: none;
                //border-radius: 3px;
                
                a{
                    padding: 0 0.7em;
                    font-size: 0.9em;
                    font-weight: 400;
                    margin: 0 auto;
                    height: 5em;
                    width: 5em;
                    text-align: center;
                    transition: 0.5s;
                    //border-radius: 3px;
                }
            }
        }
    }
    #nav-icon{
        display: none;
    }
}

@media (max-width: 620px){
    .header-container{
        h1{
            font-size: 1.4em;
            margin: 1.2em 0 0 0.5em;
        }
    }
}

/****** Nav Burger Icon ******/
#nav-icon{
    width: 55px;
    height: 30px;
    position: absolute;
    right: 2%;
    top: 1.4em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer;
    z-index: 2;
}
#nav-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 90%;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0px;
    background-color: #080808;
    //border: 3px solid rgba(0, 112, 0, 0.8);
}
#nav-icon span:nth-child(2) {
    top: 15px;
    background-color: #080808;
    //border: 3px solid rgba(0, 112, 0, 0.8);
}
#nav-icon span:nth-child(3) {
    top: 30px;
    background-color: #080808;
    //border: 3px solid rgba(0, 112, 0, 0.8);
}
#nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}